---
// ep1.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import '../global.css';
---
<BaseLayout>
  <h1>Episode 1: The Journey Begins</h1>
  <p>Description about Episode 1 goes here...</p>
  <!-- <audio controls>
    <source src="/audio/History.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio> -->
  <audio controls class="custom-audio-player">
    <source src="/audio/clip1.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  
</BaseLayout>
