---
// ep1.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import '../global.css';
---
<BaseLayout>
  <h1>Episode 1: Tech Her Forward Platform</h1>
  <p>"Welcome to Tech Her Forward"
    a podcast dedicated to empowering middle-aged women to reimagine their futures in tech. Discover the mission behind the platform, the challenges women face re-entering the industry, and the unmatched value they bring through their experience, resilience, and leadership.</p>
  <!-- <audio controls>
    <source src="/audio/History.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio> -->
  <audio controls class="custom-audio-player">
    <source src="/techherforward/audio/Introduction.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  
</BaseLayout>
