---
// ep2.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import '../global.css';
---
<BaseLayout>
  <h1>Episode 2: History</h1>
  <p>"Ada Lovelace, often considered the world’s first computer programmer, worked on Charles Babbage’s Analytical Engine in the 19th century.

    Grace Hopper, for instance, developed the first compiler, which paved the way for modern programming languages. And let’s not forget the unsung heroes of NASA, like Katherine Johnson and her team, whose calculations sent humans to the moon.
    
    
    But something changed. In the mid-1980s, women’s participation in computing began to decline...
    </p>
  <!-- <audio controls>
    <source src="/audio/History.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio> -->
  <audio controls class="custom-audio-player">
    <source src="/techherforward/audio/History.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  
</BaseLayout>
