---
// ep3.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import '../global.css';
---
<BaseLayout>
  <h1>Episode 3: Tech Her Forward Platform</h1>
  <p>""Stories of Leadership - Women Returning to the Workspace"
    Meet three inspiring women, who overcame career breaks to step into impactful leadership roles. In this episode, they share their journeys, discuss challenges like imposter syndrome, and offer advice for women aspiring to lead in tech and beyond.
 
    </p>
  <!-- <audio controls>
    <source src="/audio/History.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio> -->
  <audio controls class="custom-audio-player">
    <source src="/techherforward/audio/Leadership.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  
</BaseLayout>
